.movie-lists {
  margin-top: 50px;
}
.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.carousel {
  display: flex;
  position: relative;
  width: 85%;
  margin-right: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.046);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  margin-top: 20px;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 15px;
  display: grid;
  align-items: start;
  padding: 15px;
  width: 500px;
  height: 300px;
  grid-template:
    "poster info"
    "add_ons add_ons";
  column-gap: 20px;
}
#poster {
  grid-area: poster;
}
.info {
  grid-area: info;
}
.add_ons {
  grid-area: add_ons;
}
#poster {
  border-radius: 13px;
  margin: 0;
  height: 240px;
  width: auto;
}
#title {
  font-family: "Tac-One", sans-serif;
  color: var(--gold);
}
#release_date {
  font-family: "PlayFair", sans-serif;
  color: var(--turquoise);
  position: relative;
  top: 0;
}
#description {
  font-family: "PlayFair", sans-serif;
  text-align:start;
  color: #ffffff8a;
}
#description span {
    font-weight: bold;
    color: #ffffffc0;
}
#genre {
  font-family: "PlayFair", sans-serif;
  color: #fff;
}
.info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  margin: 0;
}
.add_ons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.add_or_watched button {
  background: none;
  border: none;
  color: rgba(135, 130, 130, 0.393);
}
.add_or_watched #add:hover {
  color: var(--turquoise-glow);
}
.add_or_watched #watched:hover {
  color: #ff9306fc;
}
