h1 {
  color: var(--gold);
  font-family: "Cinzel", sans-serif;
  font-size: 6em;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-block: auto;
}
.hero-section {
  position: relative;
  min-height: 100vh;
}
.hero-bg {
  position: absolute;
  inset: 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #80858b85;
}
.cta h2 {
  font-family: Courier, serif;
  font-weight: 400;
  font-size: 0.75em;
}
.cta-btn {
  transition: color 0.4s ease;
}
.cta-btn:hover {
  color: #fff;
}
