.hub {
    margin-top: 50px;
}
.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

/* Search Input Field Begin */
.search-field {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    width: 50%;
    height: 30px;
    border-style: none;
    border-radius: 15px;
}
.search-field input {
    width: 95%;
    color: #faf9f9b5;
    background: none;
    border: none;
    font-size: 0.75em;
}
.search-field input::placeholder {
    color: #faf9f94e;
}
.search-field input:focus {
    outline: none;
}
.search-field::after {
    content: "";
    position: absolute;
    height: 1px;
    background-image: linear-gradient(to right, #00000000, var(--turquoise), #00000000);
    width: 100%;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease ;
}
.search-field:focus-within::after {
    transform: scaleX(1);
}
/* Search Input Field End */
.carousel {
    position: relative;
    width: 85%;
    margin-right: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card{
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 15px;
    display: grid;
    align-items: start;
    padding: 15px;
    width: 500px;
    height: 300px;
    grid-template: 
        "poster info"
        "add_ons add_ons" 
    ;
    column-gap: 20px;
    background-color: #a2aaadb2;
    border: #8F7A55;
}
#poster {grid-area: poster;}
.info {grid-area: info;}
.add_ons {grid-area: add_ons;}

#poster {
    margin: 0;
    height: 240px; 
    width: auto; 
    
}
.info {
    min-height: 0;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.add_ons {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add_or_watched button{
    background: none;
    border: none;
    color: rgba(22, 21, 21, 0.393);
}
.add_or_watched #add:hover{
    color: var(--turquoise-glow);
}
.add_or_watched #watched:hover{
    color: #ff9306bc;
}