:root {
  --dark-blue: #0A1828; 
  --blue-bg1: #1e477681; 
  --turquoise: #178582;
  --turquoise-glow: #30f6ef;
  --gold: #BFA181;
  --gold-glow: #FFD9A0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #0A1828, #050d16);
}
